<div class="card">
    <h5>Creación de Entidades</h5>

    <!-- Formulario para Crear Entidades -->
    <div class="p-fluid">
        <div class="field">
            <label for="tableName">Nombre de la Entidad   .</label>
            <input id="tableName" type="text" pInputText placeholder="Nombre de la Entidad" [(ngModel)]="entityName">
        </div>

        <h6>Campos de la Entidad</h6>
        <div *ngFor="let field of fieldsData; let i = index" class="field grid">
            <div class="col-5">
                <label for="column_name">Nombre del Campo</label>
                <input id="column_name" type="text" pInputText placeholder="Nombre del Campo" [(ngModel)]="field.name">
            </div>
            <div class="col-5">
                <label for="data_type">Tipo de Dato</label>
                <p-dropdown id="data_type" [options]="fieldTypes" placeholder="Selecciona Tipo de Dato" [(ngModel)]="field.type"></p-dropdown>
            </div>
            <div class="col-2 flex align-items-end">
                <button type="button" pButton icon="pi pi-trash" class="p-button-danger" (click)="removeField(i)"></button>
            </div>
        </div>

        <!-- Botones para agregar campos y crear la entidad -->
        <div class="mt-6 flex justify-content-center gap-3">
            <button type="button" pButton label="Agregar Campo" icon="pi pi-plus"
                    (click)="addField()" style="width: 25%;"></button>
            <button type="button" pButton label="Crear Entidad" icon="pi pi-save"
                    class="p-button-success" (click)="createEntity()"
                    [disabled]="!entityName || fieldsData.length === 0" style="width: 25%;"></button>
        </div>

    </div>
</div>
